.marker {
  background-image: url('./assets/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-custom {
  backdrop-filter: blur(5px);
  background: rgba(247,248,249,.65);
  height: 3.8rem;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.nav-custom {
  padding: .5rem 1.5rem
}

.search.custom {
  height: 2rem;
  left: 1.5rem;
  position: fixed;
  top: .85rem;
}

.menu-custom {
  background: none;
  border-radius: none;
  box-shadow: none;
  padding: .4rem 0rem;
}

.text-7x {
  font-size: .7rem; 
}

.app-brand {
  margin: .85rem 0rem;
  padding: 0;
  position: static;
}

.app-title {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0;
  margin-right: .3rem;
}

.no-padding {
  padding: none;
}